<IfModule mod_rewrite.c>
# enable rewrite engine
RewriteEngine On

# if requested url does not exist pass it as path info to index.php
RewriteRule ^$ index.php?/ [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php?page=$1 [QSA,L]
#RewriteRule ^(.*)$ index.php?url=$1/product=$2/productId=$3 [QSA,L]
#RewriteRule ^([a-zA-Z0-9-/+]+)/([a-zA-Z0-9-/+]+)/([a-zA-Z0-9-/+]+)$ index.php?page=$1&product=$2&productId=$3 [QSA,L]
</IfModule>