/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 Feb, 2023, 7:16:54 PM
    Author     : GIRIY
*/


:root {
    --primarycolor: #c00;
    --secondarycolor: #000;
    --white: #fff;
    --brand-red: #ca202a;
    --brand-green: #116c3a;
    --brand-light-green: #a5cb41;
    --light-grey: #f7f7f7;
}
